{% extend_me %}

{% block header_main_button %}
    <a class="navbar-minimalize minimalize-styl-2" href="#"><img alt="image"
                                                                 src="{{ request.url_for_static('MAG.png',"climate") }}"/>
        Form<b>Share</b></a>



{% endblock header_main_button %}